.trailer-container {
  margin-bottom: 10px;
}

.video-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.trailer-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
}

.trailer-title-overlay {
  position: absolute;
  top: 50%;
  left: 20px; 
  transform: translateY(-50%);
  color: white; 
  font-size: 50px; 
  background: transparent;
  padding: 10px;
  border-radius: 5px; 
  pointer-events: none; 
  font-weight: bold;
}

.trailer-description {
  font-size: 16px;
  margin-top: 5px;
  max-width: 400px;
  display: block;
  white-space: normal;
  overflow: hidden;
  color: #ffffff;
  font-weight: 400;
}

.heading {
  font-weight: bold;
}

.movie-list {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto; 
  gap: 20px;
  padding: 10px;
  margin-top: 20px;
}

.movie-scroll {
  display: inline-flex; 
}

.movie-item {
  min-width: 150px;
  text-align: center;
}

.movie-poster-container {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.movie-poster {
  width: 150px; 
  height: 225px;
  object-fit: cover; 
  border-radius: 8px;
}

.movie-poster:hover {
  transform: scale(1.05); 
}

.movie-title-container {
  margin-top: 10px;
}

.movie-title {
  font-size: 1rem;
  color: #333;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  width: 100%;
}

.search-bar-container {
  margin-top: 10px; 
  display: flex;
  justify-content: center; 
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%; 
}

.search-input {
  flex: 1;
  padding: 6px;
  font-size: 14px;
  border: 2px solid #ccc; 
  border-radius: 4px; 
}

.search-button {
  margin-left: 8px;
  padding: 6px 12px;
  font-size: 14px;
  border: 2px solid #f0ad4e; 
  border-radius: 4px; 
  background-color: #f0ad4e; 
  color: white;
  cursor: pointer;
}

.search-input:focus {
  border-color: #007bff; 
  outline: none;
}

.search-button:hover {
  background-color: #ec971f; 
  border-color: #ec971f; 
}

.genre-buttons {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

.btn-genre {
  margin: 5px;
  padding: 10px 15px;
  background-color: #007bff; 
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-genre:hover {
  background-color: #0056b3;
}

.btn-genre.active {
  background-color: #0056b3; 
  border: 2px solid #004494; 
}

.genre-section {
  background-color: #001f3f; 
  color: white;
  padding: 20px; 
  border-radius: 8px;
}

.cast-container {
  display: flex;
  align-items: center; 
  margin-bottom: 10px; 
}

.cast-image {
  width: 50px;
  height: auto; 
  margin-right: 10px; 
  border-radius: 50%; 
}
